body {
    background-color: burlywood;
}

h1,
h2,
p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: bisque;
    width: fit-content;
    height: max-content;
}